
<header id="header" class="d-flex align-items-center">
  <div class="container d-flex align-items-center">

    <div class="logo mr-auto">
      <h1 class="text-light" ><a href="index.html"><span>VOIZFONICA</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    </div>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <!-- <li class="active"><a href="">View Bill</a></li> -->
        <!-- <li class="active"><a href="">Manage Accounts</a></li> -->
        <!-- <li class="active"><a href="">New Connection</a> -->
       
        <!-- </li> -->

        <!-- <li class="active"><a href="http://localhost:4401/login">Help and Support</a></li> -->
        <!-- <li class="active"><a href="#portfolio">Services</a></li> -->
       
        <li class="active"><a href="http://localhost:4401/login">LogIn</a></li>
        
        <li class="active"><a href="http://localhost:4401/updateprofile">{{use.firstName}}</a></li>
        <!-- <li class="active"><button type="submit" class="btn btn-secondary" (click)="gotomodify()">Welcome {{use.firstName}}</button></li> -->
      </ul>
    </nav>

  </div>
</header>

  <!-- <form class="form-inline" #rudForm="ngForm" (ngSubmit)="upUser()" >
    <div class="form-group">

      <label class="sr-only" for="email">Id:</label>
      <input type="text" class="form-control" id="email" name="email" [(ngModel)]="id1"  >
<br>
<label class="sr-only" for="email">EmailId:</label>
<input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.emailId"  >
<br>

      <label class="sr-only" for="email">New Password:</label>
      <input type="password" class="form-control" id="email" name="email" [(ngModel)]="user.password"  >
      
    </div>
    <br>
    <br>
    <button type="submit" class="btn btn-default" >Update</button>
  </form> -->
  <!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Update Password</h2>
  <form #rudForm="ngForm" (ngSubmit)="upUser(user.emailId,user.password)">
    <!-- <div class="form-group">
      <label for="email">Id:</label>
      <input type="email" class="form-control" id="email" [(ngModel)]="id1" placeholder="Enter Id" name="email">
    </div> -->
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" [(ngModel)]="user.emailId" placeholder="Enter email" name="email">
    </div>
    <div class="form-group">
      <label for="pwd">New Password:</label>
      <input type="password" class="form-control" id="pwd" [(ngModel)]="user.password" placeholder="Enter password" name="pwd">
    </div>
  
    <button type="submit" class="btn btn-success" >Update</button>
    
  </form>
  <br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br>
  
</div>

</body>
</html>
